@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo-Regular';
  src: url('./assets/fonts/Archivo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #F6F9FC;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}